.sg-table {
  display: flex;
  flex-direction: column;
}

.sg-column {
  width: 25px;
  padding: 5px;
}

.sg-row {
  margin: 2px;
  display: flex;
}

.red {
  background-color: indianred;
  color: white;
}

.green {
  background-color: darkseagreen;
  color: black;
}
